.header {
  width: 100%;
  color: var(--header-text-color);
  border-bottom: 2px solid var(--header-text-color);
  background-color: var(--header-background-color);
}
.header-content {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--header-text-color);
  margin: auto;
  flex-wrap: wrap;
  padding: 10px 0;
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header ul li {
  box-sizing: border-box;
  background-color: var(--header-background-color);
  border: 2px solid var(--header-text-color);
  border-radius: 5px;
  padding: 2px 15px;
}
.header ul li:hover {
  background-color: #515151;
}
.header ul li a {
  text-decoration: none;
  color: var(--header-text-color);
}

.logo {
  background: url("../../../public/logo192.png") no-repeat center center/cover;
  height: 100px;
  width: 100px;
}
