/* I understand that it will affect for all controls with form-control col-form-label, it exactly what I need.*/
.form-control {
  min-width: 100px !important;
}
.col-form-label {
  color: #61dafb !important;
  min-width: 100px !important;
}
