.movie {
  margin: 10px 15px;
  /* color:aliceblue*/
  /* display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */
}
.movie .movie-element {
  padding: 5px 15px;
  margin: 0px 10px;
}
.img {
  max-height: 100px;
  /* display: block; */
}
